# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.idea/

*.iml

*.lst

target/classes/alaves\.html

target/classes/athletic\.html

target/classes/atletico\.html

target/classes/barcelona\.html

target/classes/betis\.html

target/classes/celta\.html

target/classes/deportivo\.html

target/classes/eibar\.html

target/classes/espanyol\.html

target/classes/getafe\.html

target/classes/girona\.html

target/classes/las-palmas\.html

target/classes/leganes\.html

target/classes/levante\.html

target/classes/madrid\.html

target/classes/malag\.html

target/classes/real-sociedad\.html

target/classes/sevilla\.html

target/classes/valencia\.html

target/classes/villarreal\.html
